 
     <footer class="container-fluid text-center"> 
         <p>
           Designed and Coded by Liz Dominguez
         </p> 
         <p>
           Free Icons from pngfree.com
         </p>
      </footer>
     
    </body>
</html>