<% include ../partials/header %>


<div class="container">
    <header class="jumbotron text-center">
        <div class="container">
          <img src="/camprv.png" class="logo">
          <h1>Camp Compass</h1>
          <p>
            Discover campgrounds from all over the world
            </p>
          <p>
          <a class="btn btn-lg" href ="/campgrounds/new">
            Add a campground
            </a>
          </p>
        </div> 
    </header>

    <div class="row">
        <div class="col-lg-12">
            <h2>Top Campgrounds</h2>
        </div>
    </div>
    
    <div class="row" style="display: flex; flex-wrap: wrap;">
      <% campgrounds.forEach(function(campground){ %>
        <div class="col-md-3 col-sm-6">
            <div class="thumbnail text-center">
                <img src="<%= campground.image %>">   
                <div class="caption text-center">
                  <h3><%= campground.name %> </h3>  
                </div>
                <p>
                    <a href="/campgrounds/<%= campground._id %>" class="btn">More Info</a>
                </p>
            </div>
        </div>
    <% }); %>  
    </div>

</div>

<% include ../partials/footer %>