@import url('https://fonts.googleapis.com/css?family=Germania+One|Fjalla+One|Roboto');

body {
  background-color: #fffacf;
}

nav { 
  background-color: #486621 !important;
}

nav a {
  color: #2e4215 !important;
  font: 1.5em 'Germania One';
}

.navbar-brand {
  color: #2e4215 !important;
  font: 1.8em 'Germania One';
  text-shadow: 1px 1px 1px #5b8429;
  margin-top: -5px;
}

.navbar-brand:hover {
  color: #5b8429 !important;
  text-shadow: 1px 1px 1px #2e4215;
}


header {
  background-color: #e0dda3 !important;
  font-family: 'Fjalla One';
  color: #fffacf !important;
  padding: 40px 0px 0px 0px !important;
}

h1 {
  font: 3em 'Germania One';
  color: #486621 !important;
  margin: 5px 0px 10px 0px;
  text-transform: uppercase;
}

.logo {
  width: 100%;
  margin-top: 20px;
}

a {
  font-family: 'Fjalla One';
  color: #486621;
  text-transform: uppercase;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
  filter: brightness(60%);
  color: #486621 !important;
}

.btn {
  
  font-family: 'Fjalla One';
  color: #fffacf;
  text-transform: uppercase;
  
  transition: all 0.2s ease 0s;
  
  background-color: #486621;
  
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.5), inset 0 -2px 0 rgba(0,0,0,.25), inset 0 -3px 0 rgba(255,255,255,.2);
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.5), inset 0 -2px 0 rgba(0,0,0,.25), inset 0 -3px 0 rgba(255,255,255,.2);
  box-shadow: inset 0 1px 0 rgba(255,255,255,.5), inset 0 -2px 0px rgba(0,0,0,.2), inset 0 0px 0 rgba(255,255,255,.2);
}

.btn:hover, .btn:active, .btn:focus {
  filter: brightness(90%);
  color: #fffacf !important;
  -webkit-box-shadow: inset 0 0px 2px rgba(0,0,0,.2), inset 0 -3px 0 rgba(255,255,255,.2);
  -moz-box-shadow: inset 0 0px 2px rgba(0,0,0,.2), inset 0 -3px 0 rgba(255,255,255,.2);
  box-shadow: inset 0 0px 2px rgba(0,0,0,.2), inset 0 0px 0 rgba(255,255,255,.2);
  outline: none !important;
}

.edit-btn {
  background-color: #f0ad4e !important;
}

.comment-btn {
  margin-bottom: 30px;
}

.delete-btn {
  background-color: #e35252 !important;
}

#delete-form {
  display: inline;
}

h2 {
  font: 2.5em 'Fjalla One';
  color: #486621 !important;
  margin: 30px 0px 30px 0px;
}

h3 {
  font: 1.5em 'Germania One';
  color: #486621 !important;
  margin: 10px 0px 10px 0px;
}

h4 {
  font: 1.5em 'Germania One';
  color: #486621 !important;
  margin: 10px 0px 10px 0px;
}

.active {
  background-color: #486621 !important;
}

.thumbnail, .well {
  background-color: #e0dda3 !important;
}

.thumbnail img {
  width: 100%;
}

.caption-full {
  padding: 9px;
}

hr {
  border: none;
}

footer {
  margin-top: 50px;
  background-color: #486621;
  padding: 50px;
  color: #2e4215; 
}